<div class="container-fluid">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>

    <div class="content-body">
        <div class="row">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="col-7">
                    <span>
                        <p class="hero-text manuka">Your Trusted Partner in Medical Excellence</p>
                    </span>
                    <span>
                        <p class="sub-text reckless">
                            Welcome to our trusted medical equipment company with over 35 years of experience in providing high-quality manometry devices. We specialize in designing, developing, and manufacturing reliable equipment for healthcare professionals worldwide. <br> <br>
                            Our dedicated team prioritizes accuracy in diagnosing and treating patients with gastrointestinal disorders. Using cutting-edge technology and adhering to industry standards, we ensure our equipment meets your needs. <br> <br>
                            Count on our exceptional customer service for friendly and knowledgeable support. Whether you have questions or need assistance, our team is here to help you make the most of our products. <br> <br>
                            Explore our range of diagnostic and therapeutic manometry devices, trusted by healthcare professionals globally. With a track record of over 35 years, our equipment is used in hospitals, clinics, and research institutions. <br><br>
                            Thank you for considering us for your manometry medical equipment needs. We look forward to serving you and assisting in providing the best care for your patients.
                        </p>
                    </span>

                    <div class="d-flex flex-row align-items-center">
                        <button class="btn btn-know px-4 py-2 me-3"><span><img src="../../assets/Images/call.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Call us</span></button>
                        <button class="btn btn-mail px-4 py-2 me-3"><span><img src="../../assets/Images/whatsapp.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Dm on Whatsapp now</span></button>
                        <button class="btn btn-mail px-4 py-2"><span><img src="../../assets/Images/official-gmail-icon-2020-.svg" class="img-fluid me-2 mail_i" alt=""></span> <span class="reckless">Contact us</span></button>
                    </div>
                        
                </div>
                <div class="col-5 d-flex justify-content-end">
                        <img src="../../assets/Images/hero-img.svg" class="img-fluid img hero-img" alt="">
                </div>
            </div>
        </div>
    </div>

    <marquee id="scroller" class="row scroll-container">
        <span><img src="../../assets/Images/star.svg" class="img-fluid me-2" alt=""></span>
        <span
          onmouseover="document.getElementById('scroller').stop()"
          onmouseout="document.getElementById('scroller').start()"
          class="scroll-text reckless"
          >With over 300+ projects completed  •  500+ satisfied customers served  •  260+ successful installations  •  and a commitment to 100% satisfaction, our track record speaks volumes about our dedication and excellence.</span>
          <span><img src="../../assets/Images/star.svg" class="img-fluid ms-2" alt=""></span>
      </marquee>

      <div class="row mt-5">
        <app-address-list></app-address-list>
      </div>
    
      <div class="row mt-5">
        <app-whatwedo></app-whatwedo>
      </div>

    <app-footer></app-footer>
</div>
