<div class="container-fluid">
    <div class="nav-container">
        <app-navbar2></app-navbar2>
    </div>

    <div class="img-container">
        <img src="../../assets/Images/Catheter.svg" class="img-fluid bg-cover" alt="">
    </div>

    <div class="row content">
        <div class="heading manuka row">
            Catheter
        </div>

        <div class="row para1">
            <p>
                Made from medical-grade, clear silicon tubing, these catheters are manufactured with the highest precision and are 100% quality tested. The rounded tip and smooth body surface allows for maximum patient comfort, while the low distension factor of the material guarantees fast and accurate response rates. All catheters have a blue indicating line along the length of the catheter body for lumen positioning, as well as incremental markings for accurate pull-through. They have staggered pigtails for easy location of the next sequential port, and can be used with any model of perfusion pumps. .Silicon oesophageal and anorectal catheters thin and flexible with a diameter 3.2 mm and 4.2 mm respectively, which can be used for paediatric patients and for patients with nasal morphological problems.
            </p>
        </div>

        <hr class="dividerlast">

    </div>

    <app-whatwedo></app-whatwedo>

    <app-footer></app-footer>
</div>