<div class="container-fluid">
    <div class="what_we_do_container">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">clients</span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 grid-wrapper">
                <div class="container1 d-flex flex-row align-items-center">
                    <span><img src="../../assets/hospital-img/Apollo.jpeg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <!-- <span class="name_of_machine">Apollo Hospital</span>  -->
                            <div class="link">
                                <!-- <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt=""> -->
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span><img src="../../assets/hospital-img/Aster.jpeg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <!-- <span class="name_of_machine">Aster</span>  -->
                            <div class="link">
                                <!-- <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt=""> -->
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span><img src="../../assets/hospital-img/fortis.jpeg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <!-- <span class="name_of_machine">Fortis</span>  -->
                            <div class="link">
                                <!-- <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt=""> -->
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span><img src="../../assets/hospital-img/kauvery.jpeg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <!-- <span class="name_of_machine">kauvery Hospital</span>  -->
                            <div class="link">
                                <!-- <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt=""> -->
                            </div> 
                    </span>
                </div>
                <div class="container1 d-flex flex-row align-items-center">
                    <span><img src="../../assets/hospital-img/Regency.jpeg" class="img-fluid circle-img" alt=""></span>
                    <span class="name-wrap">
                        <!-- <span class="name_of_machine">Regency Health</span>  -->
                            <div class="link">
                                <!-- <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt=""> -->
                            </div> 
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>