<div class="container-fluid">
    <div class="nav-container">
        <app-navbar></app-navbar>
    </div>

    <div class="content-body">
        <div class="row show_only_desktop web_vanish">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <div class="col-7">
                    <span>
                        <p class="hero-text manuka">We have a strong vision<br>for providing GI motility services.</p>
                    </span>
                    <span>
                        <p class="sub-text reckless">To become a leading provider of innovative, reliable and user-friendly GI motility equipment for healthcare professionals worldwide, empowering them to diagnose and treat gastrointestinal disorders with greater accuracy, efficiency, and patient comfort.</p>
                    </span>
                        <button class="btn btn-know px-4 py-2"><span><img src="../../assets/Images/whatsapp.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Reach us</span></button>
                </div>
                
                <div class="col-5 d-flex justify-content-end">
                    <img src="../../assets/Images/hero-img.svg" class="img-fluid img hero-img" alt="">
                </div>
            </div>
        </div>

        <div class="row show_only_mobile">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="row">
                    <img src="../../assets/Images/hero-img.svg" class="img-fluid img hero-img" alt="">
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                    <span>
                        <p class="hero-text manuka">We have a strong vision for providing GI motility services.</p>
                    </span>
                    <span>
                        <p class="sub-text_mobile reckless">To become a leading provider of innovative, reliable and user-friendly GI motility equipment for healthcare professionals worldwide, empowering them to diagnose and treat gastrointestinal disorders with greater accuracy, efficiency, and patient comfort.</p>
                    </span>
                        <button class="btn btn-know px-4 py-2"><span><img src="../../assets/Images/whatsapp.svg" class="img-fluid me-2 whatsapp" alt=""></span> <span class="reckless">Reach us</span></button>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    <marquee id="scroller" class="row scroll-container">
        <span><img src="../../assets/Images/star.svg" class="img-fluid me-2" alt=""></span>
        <span
          onmouseover="document.getElementById('scroller').stop()"
          onmouseout="document.getElementById('scroller').start()"
          class="scroll-text reckless"
          >With over 300+ projects completed  •  500+ satisfied customers served  •  260+ successful installations  •  and a commitment to 100% satisfaction, our track record speaks volumes about our dedication and excellence.</span>
          <span><img src="../../assets/Images/star.svg" class="img-fluid ms-2" alt=""></span>
      </marquee>
    
      <div class="row mt-5">
        <app-whatwedo></app-whatwedo>
      </div>

    <div class="benchmarks_container mt-5 web_vanish">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">benchmarks</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">300+</span>
                        <span class="count_sub">PROJECTS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">500+</span>
                        <span class="count_sub">CLIENTS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/blood_pressure.svg" class="img-fluid icon1" alt="">

                        <span class="count">260+</span>
                        <span class="count_sub">INSTALLATIONS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/credit_card_heart.svg" class="img-fluid icon1" alt="">

                        <span class="count">100%</span>
                        <span class="count_sub">SATISFACTION</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="benchmarks_container_mobile web_vanish_mobile">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Our</span> <span class="text-highlight-1 ms-2 manuka">benchmarks</span>
            </div>
        </div>
        <div class="row mt-5">
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">300+</span>
                        <span class="count_sub">PROJECTS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">60+</span>
                        <span class="count_sub">INSTALLATIONS</span>
                    </div>
                </div>
            </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 d-flex flex-row justify-content-between">
                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/pacemaker.svg" class="img-fluid icon1" alt="">

                        <span class="count">500+</span>
                        <span class="count_sub">CLIENTS</span>
                    </div>
                </div>

                <div class="box1">
                    <div class="d-flex flex-column">
                        <img src="../../assets/Images/diversity_4.svg" class="img-fluid icon1" alt="">

                        <span class="count">100%</span>
                        <span class="count_sub">SATISFACTION</span>
                    </div>
                </div>
            </div>
            </div>
           
        </div>
    </div>

    <!-- <div class="what_we_handle_container mt-5">
        <div class="row">
            <div class="col-12">
                <span class="text-1 manuka">Short</span> <span class="text-highlight-1 ms-2 manuka">brief</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="d-flex flex-row align-items-start">
                <div class="img-container">
                    <span class="cstm-chip">Featured</span>
                    <img src="../../assets/Images/machine2.svg" class="img-fluid m2" alt="">
                    <div class="fade-container reckless content-sub">
                       <p> High resolution manometry</p>
                       <div class="link-inside" routerLink="/page1">
                        <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                    </div> 
                    </div>
                </div>

                <div class="three-rows ms-5 d-flex flex-column align-items-start justify-content-around">
                    <div class="row1">
                        <div class="d-flex flex-row">
                            <img src="../../assets/Images/machine2.svg" class="img-fluid row-1-img" alt="">
                            <div class="text-cont ms-3">
                                <div class="d-flex flex-column align-items-start justify-content-end">
                                    <div class="set1">
                                         <p class="heading-small">High resolution manometry</p>
                                         <span class="reckless mt-2">pH impedance testing is one method your doctor can use to evaluate acid and <br> nonacid reflux from your stomach into your esophagus</span> 
                                      </div>
                                        <div class="link-inside">
                                            <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="d-flex flex-row">
                            <img src="../../assets/Images/machine2.svg" class="img-fluid row-1-img" alt="">
                            <div class="text-cont ms-3">
                                <div class="d-flex flex-column align-items-start justify-content-end">
                                    <div class="set1">
                                         <p class="heading-small">High resolution manometry</p>
                                         <span class="reckless mt-2">pH impedance testing is one method your doctor can use to evaluate acid and <br> nonacid reflux from your stomach into your esophagus</span> 
                                      </div>
                                        <div class="link-inside">
                                            <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="d-flex flex-row">
                            <img src="../../assets/Images/machine2.svg" class="img-fluid row-1-img" alt="">
                            <div class="text-cont ms-3">
                                <div class="d-flex flex-column align-items-start justify-content-end">
                                    <div class="set1">
                                         <p class="heading-small">High resolution manometry</p>
                                         <span class="reckless mt-2">pH impedance testing is one method your doctor can use to evaluate acid and <br> nonacid reflux from your stomach into your esophagus</span> 
                                      </div>
                                        <div class="link-inside">
                                            <span class="me-1">know more</span> <img src="../../assets/Images/arrow_outward.svg" class="img-fluid arrow" alt="">
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <app-footer></app-footer>
</div>
